<%= form_with(model: alum, local: true) do |form| %>
  <% if alum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alum.errors.count, "error") %> prohibited this alum from being saved:</h2>

      <ul>
      <% alum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, id: :alum_firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :alum_lastname %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio, id: :alum_bio, rows: 10, cols: 60 %>
  </div>

  <div class="field">
    <%= form.label :hometown %>
    <%= form.text_field :hometown, id: :alum_hometown %>
  </div>

  <div class="field">
    <%= form.label :headshot %>
    <%= form.text_field :headshot, id: :alum_headshot %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
